@import "../../bower_components/reset-scss/reset.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
@import "../../bower_components/WebFont-OpenSans/css/stylesheet.css";
@import "./_mixins.scss";

body {
    font-family: "OpenSansRegular";
    font-size: 18px;
    line-height: 23px;
    color: #fff;
    background: #000;
}

a {
    @include unstyled-link;
    color: yellow;
    text-decoration: underline;
}

.container {
    max-width: 660px;
    margin: auto;
    text-align: justify;

    img {
        max-width: 100%;
    }

    .news {
        section {
            font-size: 16px;
        }
    }
}

p {
    margin: 10px auto;
}

h1, h2, h3 {
    font-family: "OpenSansBold";
    font-size: 38px;
    line-height: 42px;
    margin: 21px 0;
}

bold, b, strong {
    font-family: "OpenSansBold";
}

i, em {
    font-style: italic;
}

h2 {
    font-size: 32px;
    line-height: 38px;
}

h3 {
    font-size: 32px;
    line-height: 38px;
}

header, section, footer {
    padding: 30px;
}

ul { 
    list-style-type: disc; 
    list-style-position: inside; 
}
ol { 
    list-style-type: decimal; 
    list-style-position: inside; 
}
ul ul, ol ul { 
    list-style-type: circle; 
    list-style-position: inside; 
    margin-left: 15px; 
}
ol ol, ul ol { 
    list-style-type: lower-latin; 
    list-style-position: inside; 
    margin-left: 15px; 
}

#about {
    text-align: left !important;
}
